.sidenav {
  background: #263238;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 6rem;
  height: 100vh; /* Ajusta la altura para que ocupe toda la pantalla */
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos */

  .logo-container {
  display: flex;
    align-items: center;
  padding: 0.938rem 0.938rem 0.938rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .mat-icon {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.logout-button {
  width: 100%; /* Para que ocupe el ancho completo */
  text-align: left;
  padding: 0.938rem; /* Añade padding para que no esté pegado al borde */
  margin-top: auto; /* Se pegará al fondo del sidenav */
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
        color: #f3f3f3;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
        color: #f3f3f3;
      }
    }
  }
  
.sidenav-nav-item:hover .sidenav-nav-link,
.sidenav-nav-item .sidenav-nav-link.active {
  background-color: #fff;
}

.sidenav-nav-item:hover .sidenav-link-icon,
.sidenav-nav-item .sidenav-nav-link.active .sidenav-link-icon,
.sidenav-nav-item:hover .sidenav-link-text,
.sidenav-nav-item .sidenav-nav-link.active .sidenav-link-text {
  color: #000;
}

}

.sidenav-container {
  height: 100vh;
}

.mat-sidenav-content {
  flex: 1; /* Que ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.content-container {
  padding: 20px;
  background-color: #ecf0f1;
  flex: 1;
  transition: margin-left 0.3s ease;
}

/* Cuando el sidenav está expandido */
.content-expanded {
  margin-left: 16.5625rem; /* Ajusta esto según el ancho de tu sidenav */
  transition: margin-left 0.3s ease;
}

/* Cuando el sidenav está colapsado */
.content-collapsed {
  margin-left: 5rem; /* Ajusta esto según el ancho del sidenav colapsado */
  transition: margin-left 0.3s ease;
}

/* Hacer responsive */
@media (max-width: 768px) {
  .sidenav-container {
    flex-direction: column;
  }
  .sidenav {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
