<h1>Dashboard</h1>

<div class="dashboard-container">
    <mat-grid-list [cols]="gridCols" rowHeight="150px" gutterSize="16px">
      @for (tile of tiles; track tile) {
        <mat-grid-tile
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
          class="tile-box"
        >
          <div class="tile-content">
            <h3>{{ tile.title }}</h3>
            <p>{{ tile.description }}</p>
          </div>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  