      <div class="container">
        <h1 class="title">Historial de Estado de Venta</h1>
      
        <div class="historial-cards-container">
          <div *ngFor="let idventa of paginatedGroups">
            <mat-card class="historial-card">
              <mat-card-header>
                <mat-card-title>
                  Venta #{{ idventa.key }} - {{ idventa.value[0].venta.usuarioCliente.nombre }}
                </mat-card-title>
                <mat-card-subtitle>
                  Fecha de venta: {{ idventa.value[0].venta.fechaventa | date:'dd-MM-yyyy HH:mm' }}
                </mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <ul>
                  <li *ngFor="let historial of idventa.value">
                    <strong>Estado:</strong> {{ historial.estadoVenta.nombreestado }} <br>
                    <strong>Fecha de cambio:</strong> {{ historial.fechacambio | date:'dd-MM-yyyy HH:mm' }}
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </div>
      
          <mat-paginator [pageSizeOptions]="[6, 9, 12]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
      
  