<div class="container">
    <div class="header-container">
      <div class="header-title">
        <h1 class="title">Lista de tipos de pagos</h1>
        <button mat-mini-fab color="primary" (click)="irACrearTipoPago()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <div class="view-toggle">
        <button mat-button (click)="cambiarVista('cards')">
          <mat-icon>list</mat-icon>
        </button>
        <button mat-button (click)="cambiarVista('table')">
          <mat-icon>line_weight</mat-icon>
        </button>
      </div>
    </div>
  
    <!-- Vista Cards -->
    <div *ngIf="vista === 'cards'" class="rol-cards-container">
      <div *ngFor="let tipo of paginatedTipoPago">
        <mat-card class="rol-card">
          <mat-card-header>
            <mat-card-title>Tipo de Pago #{{ tipo.idtipopago }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Nombre:</strong> {{ tipo.nombre }}</p>
            <p><strong>Descripción:</strong> {{ tipo.descripcion }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <!-- Vista Tabla -->
    <div *ngIf="vista === 'table'" class="rol-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef> idTipoPago </th>
          <td mat-cell *matCellDef="let element"> {{element.idtipopago}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
  
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <!-- Paginadores -->
    <mat-paginator *ngIf="vista === 'cards'" #paginatorCards [pageSizeOptions]="[4, 6, 9]" showFirstLastButtons>
    </mat-paginator>
  
    <mat-paginator *ngIf="vista === 'table'" #paginatorTable [pageSizeOptions]="[4, 5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
  