<div class="container">
  <div class="header-container">
    <h1 class="title">Lista de Compras</h1>
    <button mat-mini-fab color="primary" (click)="irACrearCompra()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="compra-cards-container">
    <div *ngFor="let compra of paginatedCompras">
      <mat-card class="compra-card">
        <mat-card-header>
          <mat-card-title>Compra #{{ compra.idcompra }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Fecha Inicial:</strong> {{ compra.fecha_inicial | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Fecha Final:</strong> {{ compra.fecha_final | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Monto:</strong> {{ compra.monto }}</p>
          <p><strong>Vendedor:</strong> {{ compra.usuario.nombre }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[6, 9 , 12]" showFirstLastButtons>
  </mat-paginator>
</div>
