.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.form-container {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #3E2522;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #B5835A;
  color: #FFF2DF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #7A554D;
}

.error-message {
  color: red;
  margin-top: 10px;
}
