/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Contenedor del encabezado */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

/* Título */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #49225B;
}

/* Contenedor de las tarjetas */
.abono-cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 900px;
  padding: 1rem;
  box-sizing: border-box;
}

/* Tarjetas individuales */
.abono-card {
  background: #F5EBFA;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease-in-out;
}

.abono-card:hover {
  transform: scale(1.02);
}

/* Título de las tarjetas */
mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6E3482;
}

/* Lista dentro de las tarjetas */
ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Elimina márgenes que puedan causar desbordamiento */
}

li {
  background: #FFF;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  color: #3E2522;
}

/* Botón flotante */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #1976d2;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease;
}

.floating-button:hover {
  background: #125a9b;
}

/* Responsivo */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 1.5rem;
  }

  .abono-cards-container {
    padding: 0.5rem;
  }
}

