<div class="container">
  <div class="header-container">
    <h1 class="title">Lista de Abonos</h1>
    <button *ngIf="!esVistaVentaEspecifica" mat-mini-fab color="primary" (click)="irACrearAbono()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="abono-cards-container">
    <div *ngFor="let idventa of paginatedGroups">
      <mat-card class="abono-card">
        <mat-card-header>
          <mat-card-title>Venta #{{ idventa.key }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let abono of idventa.value">
              <strong>Monto:</strong> {{ abono.monto }} <br>
              <strong>Fecha:</strong> {{ abono.fecha_abono | date:'dd-MM-yyyy HH:mm' }} <br>
              <strong>Tipo de pago:</strong> {{ abono.tipoPago.nombre }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="esVistaVentaEspecifica" class="volver-button-container">
    <button mat-raised-button color="primary" (click)="volverAVentas()">
      <mat-icon class="icon-align">arrow_back</mat-icon>
      Volver al listado de ventas
    </button>
  </div>

  <mat-paginator *ngIf="!esVistaVentaEspecifica" [pageSizeOptions]="[2, 3, 5, 8, 10]" showFirstLastButtons>
  </mat-paginator>

</div>