<div class="container">
  <div class="header-container">
    <h1>Lista de Productos</h1>
    <button mat-mini-fab color="primary" (click)="irACrearProducto()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="productos-cards-container">
    <mat-card class="producto-card" *ngFor="let producto of productosPaginados">
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-subtitle>ID: {{ producto.idproducto }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Precio Lista:</strong> {{ producto.precio_lista | currency }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="primary" [routerLink]="['/producto/editar', producto.idproducto]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    [length]="length"
    [pageSizeOptions]="[6, 9, 12]"
    showFirstLastButtons
    aria-label="Selecciona la página">
  </mat-paginator>
</div>